@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
#eslogan{
    position: relative;
    top: 0;
    left: 5%;
    width: 95%;

}
#buscador{
    margin: 1em auto;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 97%;
    padding: 1% 0;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
}
#buscador input, #buscador select{
    font-size: 1em;
    margin: 0 5px;
    border-radius: 5px;
}
#buscador button{
    width: 20%;
    height: 40px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    color: white;
    margin: 1em;
    font-size: 1em;
    cursor: pointer;
}
#ofertas,#empresas,#opiniones,#misofertas,#candidatos,#opiniones{
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1em;
}
#empresas div,#ofertas div,#opiniones div,#misofertas div,#candidatos div,#opiniones div{
    background-color: white;
    margin: 1em;
    padding: 1em 2em;
    border-radius: 10px;
    width: 25%;
}
#opiniones textarea,#opiniones input{
    width: 90%;
}
#cv,#datos,#publicar,#opinar{
    position: relative;
    top: 0;
    margin: auto;
    width: 60%;
    padding: 0.5em;
    background-color: white;
    text-align: center;
    font-size: 1.2em;
}
#cv h3, #datos h2,#datos h3{
    margin: 0.5em;
}
#opinar h1,#opinar h3{
    margin: 0.2em;
}
#cv textarea, #cv select{
    margin: 0.5em;
    border-radius: 5px;
}
#cv textarea, #cv select{
    width: 60%;
    font-size: 1em;
}
#cv button,#datos button,#publicar button,#opinar button, #opiniones button{
    width: 25%;
    height: 40px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    color: white;
    margin: 1em;
    font-size: 1em;
    cursor: pointer;
}
#datos input, #datos textarea{
    font-size: 1em;
    margin: 3px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
}
#publicar input, #publicar textarea,#publicar select, #opinar input,#opinar textarea,#opinar select{
    font-size: 1em;
    margin: 3px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
}
#opinar input,#opinar textarea,#opinar select{
    font-size: 0.8em;
    margin: 2px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
}
#paginacion{
    position: relative;
    top: 3%;
    width: 100%;
    text-align: center;
}
#paginacion p{
    display: inline-block;
    margin: 0 1%;
    cursor: pointer;
}
h3,h4,p{
    margin: 0.3em;
}
@media all and (max-width:1000px){
    #buscador input, #buscador select{
        font-size: 0.5em;
    }
    #buscador button{
        width: 20%;
        height: 20px;
        border: none;
        background-color: orange;
        border-radius: 5px;
        color: white;
        margin: 0.6em 0;
        font-size: 0.7em;
        cursor: pointer;
    }
    #ofertas,#empresas,#opiniones,#misofertas,#candidatos,#opiniones{
        margin: 1em auto;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        font-size: 0.8em;
    }
    #ofertas div{
        background-color: white;
        margin: 1em;
    }
}